:root {
  --r1width: 117px;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

input {
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}

select {
  color: #0000006d;
  width: 50px;
  height: 41px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid rgba(175, 175, 175, 0.795);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

select:hover, select:focus {
  width: 160px;
  color: #000000;
}

option {
  color: #0000006d;
}

.variable-field {
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgba(175, 175, 175, 0.795);
  border-radius: 3px;
  margin-right: 10px;
  display: block;
  float: left;
}

.input-field {
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  display: block;
  float: left;
}

.field-container.longest-row .input-field {
  width: 100px;
}

.field-container:not(.longest-row) {
  width: var(--r1width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field-container:not(.longest-row)> :not(:last-child) {
  width: 100px;
}

.field-container:not(.longest-row)> :last-child {
  width: 100%;
}

.add-button {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.add-row-button {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.dataframe {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.dataframe thead tr {
  background-color: #009879;
  color: #ffffff;
}

.dataframe th,
.dataframe td {
  padding: 12px 15px;
}

.dataframe tbody tr {
  border-bottom: 1px solid #dddddd;
}

.dataframe tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.dataframe tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.dataframe tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}