<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="..\\static\\style.css">
  <script src="..\\static\\script.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div id="container">
    <div class="input-group">
      <select>
        <option value=""></option>
        <option value="">categorical</option>
        <option value="">numeric (treatment)</option>
        <option value="">numeric (time)</option>
      </select>
      <input type="text" class="variable-field">
      <div ID="field-row-1" class="field-container">
        <input type="text" class="input-field">
      </div>
      <button id="add-btn-row-1" class="add-button">+</button>
    </div>
    <div class="new-rows-container">
    </div>
    <button class="add-row-button">+</button>
    <div id="table-container"></div>
  </div>
</body>
</html>